# Name camera by serial number or product
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082b", ATTR{name}=="Webcam C170: Webcam C170", ATTR{index}=="0", MODE="0664", GROUP="video", SYMLINK+="cameras/webcam_c170"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0990", ATTR{name}=="UVC Camera (046d:0990)", ATTR{index}=="0", MODE="0664", GROUP="video", SYMLINK+="cameras/uvc_camera"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2b46", ATTRS{idProduct}=="bd01", ATTR{name}=="Centerm Camera: Centerm Camera", ATTR{index}=="0", ATTRS{devpath}=="4.4.4", MODE="0664", GROUP="video", SYMLINK+="cameras/ra_cam0", RUN+="/usr/local/bin/set_cam_fps.sh /dev/cameras/ra_cam0 10"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2b46", ATTRS{idProduct}=="bd01", ATTR{name}=="Centerm Camera: Centerm Camera", ATTR{index}=="0", ATTRS{devpath}=="4.4.[2-3]*", MODE="0664", GROUP="video", SYMLINK+="cameras/ra_cam1", RUN+="/usr/local/bin/set_cam_fps.sh /dev/cameras/ra_cam1 5"
